/* ---------TOP SECTION--------- */
.stats__container {
  display: block;
  background-color: var(--black-bg);
  padding: 0.8rem;
  border-radius: 3px;
  margin-bottom: 1rem;
}

.chart__container {
  gap: 3rem;
  padding: 2rem;
  background-color: var(--dark-card);
  margin-bottom: 1rem;
  border-radius: 5px;
}

@media (min-width: 40em) {
  .stats__container {
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 0.8rem;
  }
  .chart__container {
    margin-bottom: 0;
  }
}

.accountInfo__container {
  background-color: var(--dark-card);
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 2rem 2rem 2rem 3rem;
  border-radius: 5px;
}

@media (min-width: 40em) {
  .accountInfo__container {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
  }
}

.accountInfo__image img {
  max-width: 10rem;
  border-radius: 50%;
  outline: 2px solid var(--white);
}

.accountInfo__info {
  align-items: center;
}

.accountInfo__info h2 {
  color: var(--dark-text4);
  margin-bottom: 1rem;
}

.accountInfo__info p {
  color: var(--dark-text2);
  margin: 0;
  font-size: 1.4rem;
}

.killsMatches__container {
  display: block;
}

@media (min-width: 40em) {
  .killsMatches__container {
    grid-column: 4 / 8;
    grid-row: 1 / 2;
  }
}

.logout__container {
  display: block;
}

@media (min-width: 40em) {
  .logout__container {
    grid-column: 8 / 9;
    grid-row: 1 / 2;
  }
}

.logout__button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  padding: 0.8rem 1.2rem;
  background-color: transparent;
  outline: 1px solid var(--form-borders);
  color: var(--dark-text4);
  font-weight: 600;
  border: none;
  border-radius: 0.7rem;
  font-size: 1.2rem;
  cursor: pointer;
  margin: 2rem 0;
}

@media (min-width: 40em) {
  .logout__button {
    margin: 0;
  }
}

.logout__button:hover {
  background-color: #aeaeae15;
}

.rolesMatches__container {
  flex: 3;
  padding: 1rem;
}

@media (min-width: 40em) {
  .rolesMatches__container {
    grid-column: 1 / 5;
    grid-row: 2 / 3;
  }
}

.damageMatches__container {
  flex: 6;
  padding: 1rem;
}

@media (min-width: 40em) {
  .damageMatches__container {
    grid-column: 5 / 9;
    grid-row: 2 / 3;
  }
}

