<div class="top-section__container container">
    <div class="logout__container">
        <button class="logout__button" (click)="logout()">Logout</button>
    </div>
    
    <div class="account__information">
        <div class="account__information--photo">
            <img [src]="profilePhotoUrl" alt="">
        </div>
        <div class="account__information--information">
            <h2>{{ (accountInfo | async)?.name }}</h2>
            <p>Lvl: {{ (accountInfo | async)?.summonerLevel }}</p>
        </div>
    </div>

    <div class="kills__matches">
        <app-chart-kills [puuid]="(accountInfo | async)?.puuid" [matchesData]="(matchData$ | async) || []"></app-chart-kills>
    </div>
</div>

<div class="second-section__container container">
    <div class="roles__matches">
        <app-chart-roles [puuid]="(accountInfo | async)?.puuid" [matchesData]="(matchData$ | async) || []"></app-chart-roles>
    </div>
    <div class="damage__matches">
        <app-chart-damage [puuid]="(accountInfo | async)?.puuid" [matchesData]="(matchData$ | async) || []"></app-chart-damage>
    </div>
</div>






<div *ngIf="accountInfo | async as info">
    <pre>{{ info | json }}</pre>
</div>
  