<section class="news">
    <div class="showcase__container container">
        <h2 class="showcase__title">Big News Today</h2>
        <p class="showcase__information">Stay informed about the latest happenings in the world of esports. Our team brings you updates on game releases, tournament highlights, and exclusive interviews with top players. Whether you're a casual gamer or a competitive esports enthusiast, we've got you covered with the latest and greatest in the gaming world.</p>
        <a routerLink="#" class="showcase__btn">Read More <i class="uil uil-angle-right-b"></i></a>
    </div>

    <div class="grid-container allNews__container container">
        <div class="news__container" *ngFor="let item of gridItems">
          <img class="news__image" [src]="item.imageSrc" alt="Imagen">
          <h2 class="news__title">{{ item.title }}</h2>
          <p class="news__information">{{ item.description }}</p>
          <a class="news__link" routerLink="#">Learn More <i class="uil uil-angle-double-right"></i></a>
        </div>
    </div>


</section>

