/* .footer */
.footer{
    max-width: 120rem;
    margin: 0 auto; 
}

.footer__container {
    display: block;
}

@media (min-width: 40em) {
    .footer__container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 1.5rem;
    }
}


/* .container__column */
.container__column {
    text-align: center;
}

@media (min-width: 40em) {
    .footer__container .container__column:first-child {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.column__heading {
    text-transform: uppercase;
    font-size: 1rem;
    padding: 2rem 0;
    margin: 0;
    color: var(--dark-text3);
    background-color: var(--dark-top-bg);
    cursor: pointer;
    border-bottom: 1.3px solid var(--dark-text3);
}


@media (min-width: 40em) {
    .column__heading {
        margin: 1rem 0;
        background-color: transparent;
        border-bottom: none;
        cursor: default;
    }
}

/* Column list */
.column__list {
    padding: 0;
    margin: 1rem 0;
    list-style-type: none;
}

.column__list--item a {
    color: var(--dark-text1);
    font-size: 1.4rem;
}

.column__list--item a:hover {
    color: var(--dark-text2);
}

@media (min-width: 40em) {
    .column__list {
        display: block;
    }
}

/* Text below columns */
.footer__copyright {
    font-size: 1rem;
    text-align: center;
    margin: 2rem 2rem;
}

@media (min-width: 40em) {
    .footer__copyright {
        margin: 0 2rem;
    }
}

.footer__copyright h5 {
    margin: 0;
    font-size: 1.4rem;
}

.footer__copyright p {
    color: var(--dark-text3);
    margin: 1rem 0 0 0;
}
