<header class="header">
    <div>
        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__list-item">
                    <a routerLink="views/news">News</a>
                </li>
                <li class="nav__list-item">
                    <a routerLink="views/esports">eSports</a>
                </li>
                <li class="nav__list-item">
                    <a routerLink="views/general-information">General Information</a>
                </li>
            </ul>
        </nav>
    </div>
</header>