<header class="header">
  <div class="container">
    <div class="header__left">
      <div class="hamburger-menu">
        <button
          class="hamburger-menu__open"
          (click)="toggleHamburgerMenu()"
          id="open"
        >
          <img src="../../../assets/images/icon-menu.svg" alt="menu-icon" />
        </button>

        <nav class="navbar" id="navbar" [ngClass]="{ visible: isMenuOpen }">
          <!--If menu is open, add class visible-->

          <button
            class="hamburger-menu__close"
            id="close"
            (click)="toggleHamburgerMenu()"
          >
            <img
              class="hamburger-menu__close--img"
              src="../../../assets/images/icon-close.svg"
              alt="menu-close-icon"
            />
          </button>

          <ul class="navbar__list">
            <li><a routerLink="views/news">News</a></li>
            <li><a routerLink="views/esports">E-sports</a></li>
            <li>
              <a routerLink="views/general-information">General Information</a>
            </li>
            <li><a routerLink="views/about-us">About Us</a></li>
          </ul>
        </nav>
      </div>
      <!--.hamburguer-menu-->
      <div class="header__left--logo">
        <a routerLink="">
          <img
            src="../../../assets/images/Valorant Tracker B&N Text.png"
            alt="logo"
          />
        </a>
      </div>
    </div>
    <!--.header__left-->

    <div class="header__right">
      <ng-container *ngIf="user$ | async as user; else showLogIn">
        <!-- {{ user.email }}
        <a routerLink="user/log-in" (click)="onSignOut()" class="link_logIn">
        </a> -->
        <img
          (click)="toggleSubMenu()"
          class="header__right--avatar"
          src="{{ user.photoURL }}"
          alt="avatar image"
        />

        <div class="sub-menu-wrap" [ngClass]="{'open-menu': isSubMenuOpen}">
          <div class="sub-menu">
            <div class="user-info">
              <img class="user-info__account-img" src="{{user.photoURL}}" alt="Profile Photo">
              <div class="user-info__account-container">
                <h3>{{user.displayName}}</h3>
                <p>{{user.email}}</p>
              </div>
            </div>
            <hr>
            <div class="sub-menu__links">
              <a routerLink="#" class="sub-menu__links--link">
                <div class="sub-menu__links--left">
                  <i class="uil uil-question-circle left-icon"></i>
                  <p>Help & Support</p>
                </div>
                <i class="uil uil-angle-right-b arrow-icon"></i>
              </a>
              <a routerLink="user/log-in" (click)="onSignOut()" class="sub-menu__links--link">
                <div class="sub-menu__links--left">
                  <i class="uil uil-signout left-icon"></i>
                  <p>Sign Out</p>
                </div>
                <i class="uil uil-angle-right-b arrow-icon"></i>
              </a>
            </div>
          </div>
        </div>
        
      </ng-container>

      <ng-template #showLogIn>
        <a routerLink="user/log-in" class="header__right--link-logIn"> Log In </a>
      </ng-template>
    </div>
    <!--.header__right-->
  </div>
  <!--.container-->
</header>

<div class="container">
  <hr class="header__line" />
</div>
