.sub-menu-wrap{
  position: absolute;
  right: 5%;
  width: 20rem;
  margin-top: 1rem;
  max-height: 0rem;
  overflow: hidden;
  transition: max-height 0.3s;
}

.sub-menu-wrap.open-menu{
  max-height: 40rem;
}

.sub-menu {
  background-color: var(--submenu-bg);
  padding: 2rem;
  border-radius: 0.8rem;
}

/* user-info */

.user-info{
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.user-info__account-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.3rem;
}

.user-info__account-container h3 {
  font-weight: 500;
  font-size: 1.6rem;
  margin: 0;
  color: var(--dark-text4);
}

.user-info__account-container p {
  font-size: 0.9rem;
  margin: 0;
  color: var(--dark-text1);
}

.user-info__account-img {
  width: 4rem;
  border-radius: 50%;
}

/* separator */

.sub-menu hr {
  border: 0;
  height: 1px;
  width: 100%;
  background: var(--dark-text2);
  margin: 1.2rem 0 1rem;
}

/* submenu links */
.sub-menu__links--link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.8rem;
  border-radius: 0.5rem;
  
  width: 100%;
  background-color: transparent;
  color: var(--dark-text4);
  font-weight: 600;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  margin-bottom: 1rem;
}

.sub-menu__links--link:last-child {
  margin-bottom: 0;
}

.sub-menu__links--link:hover {
  background-color: #aeaeae15;
  font-size: 1.25rem;
}

.sub-menu__links--link p {
  margin: 0;
}

.sub-menu__links--link .left-icon {
  font-size: 2.1rem;
}

.sub-menu__links--link:hover .left-icon {
  font-size: 2.2rem;
}

.sub-menu__links--link .arrow-icon {
  font-size: 1.4rem;
}

.sub-menu__links--link:hover .arrow-icon {
  transform: translateX(3px);
}

.sub-menu__links--left {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}