/* GRAL INFO SECTION */
.gralInfo {
  text-align: center;
  padding: 8rem 1rem 2.2rem 1rem;
  height: 60rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blur__circle {
  z-index: -10;
  position: absolute;
  border-radius: 100%;
  background-color: var(--pink-gradient);
  filter: blur(9rem);
  width: 30rem;
  height: 30rem;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gralInfo__title {
  font-size: 5rem;
  font-weight: bold;
  color: var(--white);
  background-image: linear-gradient(43deg, rgb(223, 93, 204) 0%, rgb(243, 182, 255) 50%, rgb(255, 220, 125) 100%);
    -webkit-background-clip: text;
    background-clip: text; 
    color: transparent;
    text-shadow: 4px 2.5px 0 rgba(135, 129, 174, 0.153);
}

@media (min-width: 40em) {
  .gralInfo__title {
    font-size: 6.7rem;
  }
}

.gralInfo__info {
  color: var(--dark-text1);
  font-size: 1.4rem;
}

@media (min-width: 40em) {
  .gralInfo__info {
    font-size: 1.6rem;
  }
}

.gralInfo__buttons {
  display: flex;
  max-width: 30rem;
  justify-content: space-between;
  gap: 2rem;
  margin-top: 2rem;
}

.gralInfo__button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  padding: 0.8rem 1.2rem;
  background-color: transparent;
  outline: 1px solid var(--form-borders);
  color: var(--dark-text4); 
  font-weight: 600;
  border: none;
  border-radius: 0.7rem;
  font-size: 1.2rem;
  cursor: pointer;
}

.gralInfo__button:hover {
  background-color: #aeaeae15;
}

.gralInfo__trustInfo {
  font-size: 1.2rem;
  color: var(--dark-text1);
  margin-top: 7rem;
}

.gralInfo__imageContainer {
  display: flex;
  justify-content: space-around;
}

.gralInfo__image {
  max-width: 50rem;
  min-width: 30rem;
  width: 50rem;
}

.appAdvantage {
  padding: 2rem 2rem 2.2rem 2rem;
  margin: 7rem 0 15rem 0;
  background-color: var(--black-bg);
}

@media (min-width: 40em) {
  .appAdvantage {
    padding: 2rem 3rem 2.2rem 4rem;
  }
}

.appAdvantage__title {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: var(--white);
}

.appAdvantage__text {
  font-size: 1.6rem;
  color: var(--dark-text4);
  text-align: justify;
}

.appAdvantage__link {
  font-size: 2rem;
  font-weight: bold;
  color: var(--pink);
}

/* MORE FEATURES SECTION */

.moreFeatures {
  padding: 0 2rem 2.2rem 2rem;
}

@media (min-width: 40em) {
  .moreFeatures {
    padding: 0 3rem 2.2rem 4rem;
  }
}

.feature__title {
  color: var(--details-color);
  font-size: 2rem;
  margin: 0;
}

@media (min-width: 40em) {
  .feature__title {
    font-size: 2.2rem;
  }
}

.feature {
  display: block;
  margin-bottom: 10rem;
}

.feature__imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 40em) {
  .feature {
    display: flex;
    justify-content: center;
  }

  .feature__reversed {
    flex-direction: row-reverse;
  }

  .feature__infoContainer,
  .feature__imageContainer {
    flex: 1;
  }
}

.feature__infoContainer {
  text-align: justify;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  padding-left: 2rem;
}

.feature__infoContainer::before {
  content: '';
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 0.5rem;
  height: 100%;
  background: linear-gradient(
    to bottom, 
    var(--details-color),
    var(--pink) 50.91%
  );
}

.feature__info {
  font-size: 1.3rem;
  color: var(--white);
}

.feature__image {
  max-width: 30rem;
}

.feature__list {
  padding-left: 2rem;
  font-size: 1.7rem;
  color: var(--white);
}

.feature__list li {
  margin-bottom: 1rem;
}

.feature__list li:last-of-type {
  margin-bottom: 0;
}
