<div class="page__container container">
    <section>
        <div class="gralInfo blur__container">
            <h1 class="gralInfo__title">Get competitive while having fun!</h1>
            <p class="gralInfo__info">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur,
              magnam.icing elit. Consectetur,
              magnam.
            </p>
            <div class="gralInfo__buttons">
                <a href="#" class="gralInfo__button">Get Started</a>
                <a href="#" class="gralInfo__button">Learn More</a>
            </div>
            <p class="gralInfo__trustInfo">
                Trusted by gaming community
            </p>
            <div class="blur__circle"></div>
        </div>
        <div class="gralInfo__imageContainer">
            <img class="gralInfo__image" src="/src/assets/images/general_information/graph.png" alt="">
        </div>
        <div class="appAdvantage">
            <h2 class="appAdvantage__title">App Advantage</h2>
            <p class="appAdvantage__text">Stay logged into your game accounts and relish the joy of tracking your progress statistically. Keep the gaming journey alive with continuous connection! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Provident animi consectetur culpa facere sunt deserunt magnam assumenda excepturi, accusantium minima sequi quisquam enim, quae aperiam, ducimus odit porro iste dignissimos?</p>
            <a class="appAdvantage__link" href="#">Get Started</a>
        </div>
    </section>

    <section class="moreFeatures container">
        <div class="feature">
            <div class="feature__infoContainer">
                <h2 class="moreFeatures__title">Fostering our users to be better every day</h2>
                <p class="feature__info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa dolores dignissimos id magni molestiae possimus ad maiores, culpa incidunt labore et aut ratione neque nihil quibusdam impedit perferendis modi quisquam.</p>
            </div>
            <div class="feature__imageContainer">
                <img class="feature__image" src="/src/assets/images/general_information/graph.png" alt="">
            </div>
        </div>
    </section>
</div>
