<div class="page__container container">
  <section>
    <div class="gralInfo">
      <h1 class="gralInfo__title">Get competitive while having fun!</h1>
      <p class="gralInfo__info">
        Empower yourself with personalized insights and analytics to level up
        your gaming skills.
      </p>
      <div class="gralInfo__buttons">
        <a routerLink="/user/log-in" class="gralInfo__button">Get Started</a>
        <a routerLink="#" class="gralInfo__button">Learn More</a>
      </div>
      <p class="gralInfo__trustInfo">Trusted by the gaming community</p>
      <div class="blur__circle"></div>
    </div>

    <div class="gralInfo__chartContainer">
      <ngx-charts-line-chart class="gralInfo__chart"
        [view]="view"
        [scheme]="colorScheme"
        [results]="multi"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [autoScale]="autoScale"
        (select)="onSelect($event)"
        style="fill: white;"
      >
      </ngx-charts-line-chart>
    </div>

    <div class="appAdvantage">
      <h2 class="appAdvantage__title">V-Tracker's Advantage</h2>
      <p class="appAdvantage__text">
        Stay logged into your game accounts and relish the joy of tracking your
        progress statistically. Keep the gaming journey alive with continuous
        connection!
      </p>
      <a class="appAdvantage__link" routerLink="/user/log-in">Get Started</a>
    </div>
  </section>

  <section class="moreFeatures container">
    <div
      *ngFor="let feature of features"
      [ngClass]="{ feature__reversed: feature.reversed }"
      class="feature"
    >
      <div class="feature__infoContainer">
        <h2 class="feature__title">{{ feature.title }}</h2>
        <p class="feature__info">{{ feature.info }}</p>
        <ul class="feature__list">
          <li *ngFor="let item of feature.list">{{ item }}</li>
        </ul>
      </div>
      <div class="feature__imageContainer">
        <img class="feature__image" [src]="feature.imageSrc" alt="" />
      </div>
    </div>
  </section>
</div>
