.container {
    display: flex;
    margin: 0 auto;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    max-width: 152rem;
    padding: 0;
    box-sizing: border-box;
}

@media (min-width: 40em) {
    .container {
        padding: 0 2rem;
    }
}

.games {
    font-size: 1.35rem;
}

.game {
    padding: 0.7rem;
    text-align: center;
    color: var(--white);
}

.game:hover {
    background-color: hsla(0, 0%, 68%, 0.193);
}