/* MAIN BANNER */
.banner__black {
    background-color: var(--black-bg);
    text-align: center;
}

.banner__black--items {
    margin-bottom: 10rem;
}

.banner__black--information {
    text-align: left;
    margin: 2rem auto 0 auto;
    max-width: 180rem;
    padding: 20rem 3.5rem 5rem 3.5rem;
}

.banner__black--information h1 {
    font-size: 6rem;
    background-image: linear-gradient(43deg, rgb(223, 93, 204) 0%, rgb(243, 182, 255) 30%, rgb(255, 187, 0) 100%);
    -webkit-background-clip: text;
    background-clip: text; 
    color: transparent;
    text-shadow: 4px 2.5px 0 rgba(135, 129, 174, 0.153);
    margin-bottom: 3rem;
}

@media (min-width: 40em) {
    .banner__black--information h1 {
        font-size: 9rem;
    }
}

.flex__container {
    display: flex;
    flex-direction: column;
}

@media (min-width: 72em) {
    .flex__container {
        flex-direction: row;
        justify-content: space-between;
        gap: 10rem;
    }
}

.information {
    padding-top: 3rem;
    color: rgb(182, 191, 222);
    font-size: 2rem;
    text-align: justify;
}

@media (min-width: 40em) {
    .information {
        font-size: 3rem;
    }
}

.information span{
    color: rgb(232, 235, 255);
}

.flex__container--pngImg {
    margin: 0 auto;
    max-width: 30rem;
    max-height: 30rem;
}

@media (min-width: 40em) {
    .flex__container--pngImg {
        max-width: 50rem;
        max-height: 50rem;
        min-width: 40rem;
        min-height: 40rem;
    }
}

/* DECORATIONS */
.banner__fadingColor {
    margin-top: -14.7rem;
    height: 24rem;
    background: linear-gradient(to top, transparent, var(--black-bg) 95%), linear-gradient(43deg, rgb(223, 93, 204) 0%, rgb(243, 182, 255) 30%, rgb(255, 162, 0) 100%);
    clip-path: polygon(
        100% 0, 
        100% 100%, 
        0 100%,
        0 10rem);
}

.banner__fadingColor--Bottomline {
    height: 2rem;
    background-color: hsla(240, 16%, 6%, 0.415);
}

/* IMAGES CONTAINER */
.images__container {
    margin: 5rem auto 5rem auto;
    display: flex;
    flex-direction: column;
    max-width: 140rem;
    padding: 1rem;
    height: 150rem;
    gap: 2rem;
}

@media (min-width: 40em) {
    .images__container {
        height: auto;
        margin: 15rem auto 15rem auto;
        display: grid;
        place-items: center;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 50rem 50rem;
    }
}

.main__image,
.secondary__image1,
.secondary__image2 {
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-origin: border-box;  
}

.main__image {
    grid-column: 1 / 3;
    background-image: url("/src/assets/images/img_home/gaming-room.webp");
}

.secondary__image1 {
    background-image: url("/src/assets/images/img_home/lol-champions.webp");
}

.secondary__image2 {
    background-image: url("/src/assets/images/img_home/valorant_weapons.png");
}

.images__container--leftText,
.images__container--rightText {
    font-size: 2rem;
    text-align: justify;
    margin: 0;
    color: var(--white);
}

/* THIRD SECTION */

.black-background {
    background-color: var(--black);
    height: 210rem;
}

.thirdSection__titleContainer {
    display: flex;
    justify-content: center;
    text-align: center;
}

.thirdSection__titleContainer h2 {
    margin: 35rem 0 26rem 0;
    padding: 2rem;
    font-size: 4rem;
    color: hsl(37, 80%, 88%);
    text-shadow: 0 0 0.75rem rgba(209, 29, 203, 0.828);
}

@media (min-width: 40em) {
    .thirdSection__titleContainer h2 {
        font-size: 6.5rem;
    }
}

/* THIRD SECTION - CARDS */

.cards__container {
    display: flex;
    overflow-x: auto;
    scrollbar-width: none;
    padding: 1.5rem 0;
}

.card {
    position: relative;
    flex: 0 0 30.9rem;
    height: 45rem;
    overflow: hidden;
    margin-left: 1.5rem;
    border-radius: 1.8rem;
    box-shadow: 
        2px 4px 12px
        rgba(0, 0, 0, 0.08);
}

.card__img {
    width: 100%;
}

.card__body {
    position: absolute;
    top: 0;
    padding: 2.8rem;
    font-weight: 600;
}

.card__title {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.card__link {
    font-size: 2.08rem;
}

.card__text {
    font-size: 1.76rem;
    font-weight: 300;
}