<section>
  <div class="banner__black">
    <div class="banner__black--information">
      <h1 class="">Ready to dive into the gaming world?</h1>
      <div class="flex__container">
        <img
          loading="lazy"
          class="flex__container--pngImg"
          src="/src/assets/images/home_images/videogame_controller.png"
          alt="video game console controller"
        />
        <div class="information__container">
          <p class="information">
            <span
              >Rev up for the future by registering your accounts and unleash
              warp-speed access to mind-blowing stats.</span
            >
            <br />
            Dive into your data at the speed of light, experiencing the thrill
            of an unbounded statistical journey
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="trapezoidal"></div>
<div class="banner__fadingColor"></div>
<div class="banner__fadingColor--Bottomline"></div>

<section>
  <div class="images__container">
    <div class="main__image"></div>
    <div class="secondary__image1"></div>
    <div class="secondary__image2"></div>
    <p class="images__container--leftText">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat eligendi quisquam molestiae fugit voluptatibus iusto ullam corporis aperiam id. Dolore corrupti vel voluptas iusto adipisci, ducimus impedit! Natus, deleniti tempora.
    </p>
    <p class="images__container--rightText">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat eligendi quisquam molestiae fugit voluptatibus iusto ullam corporis aperiam id. Dolore corrupti vel voluptas iusto adipisci, ducimus impedit! Natus, deleniti tempora.
    </p>
  </div>
</section>

<section>
    <div class="black-background">
        <div class="thirdSection__titleContainer">
            <h2>Unlock the power within</h2>
        </div>
    </div>
</section>