<section class="form">
    <div class="container">
        <a class="logo" routerLink="">
            <img class="logo__img" src="../../../assets/images/ValoranTracker B&N Logo.png" alt="logo">
            V-Tracker   
        </a>
        <div class="container__form">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <h1 class="container__form--title">
                    {{ title }}
                </h1>
                <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div>
                        <label for="email" class="form__labelEmail">Your email</label>
                        <input type="email" name="email" id="email" class="form__inputEmail" placeholder="name@company.com" required="">
                        <!-- Show error message -->
                    </div>
                    <div>
                        <label for="password" class="form__labelPassword">Password</label>
                        <input type="password" name="password" id="password" placeholder="••••••••" class="form__inputPassword" required="">
                    </div>
                    <div class="form__footer" *ngIf="action === 'logIn'">
                        <a routerLink="/user/forgot-password" class="form__footer--forgotPassword">Forgot password?</a>
                    </div>
                    <button type="submit" [disabled]="!form.valid" class="form__btnSubmit"> {{ title }}</button>
                    <ng-container *ngIf="action === 'logIn'; else templateLogIn">
                        <p class="form__signUpAdvertisement">
                            Don’t have an account yet? <a routerLink="/user/sign-up" class="form__signUpAdvertisement--link">Sign up</a>
                        </p>
                    </ng-container>
                </form>
                <div *ngIf="action === 'logIn'">
                    <button (click)="logInGoogle()">Google login</button>
                </div>

            </div>
        </div>
    </div>
  </section>

  <ng-template #templateLogIn>
        If you already have an account <a routerLink="/user/log-in" class="form__signUpAdvertisement--link">Log In</a>
  </ng-template>