<div class="stats__container container">
    <div class="logout__container">
        <button class="logout__button" (click)="logout()">Logout</button>
    </div>
    <div class="accountInfo__container">
        <div class="accountInfo__image">
            <img [src]="(accountInfo | async)?.data.account.image || '/src/assets/images/fortnite-null-avatar.png'" alt="Profile Image">
        </div>
        <div class="accountInfo__info">
            <h2>{{ (accountInfo | async)?.data.account.name }}</h2>
            <p>Lvl: {{ (accountInfo | async)?.data.battlePass.level }}
        </div>
    </div>
    <div class="chart__container kills__container">
        <app-chart-fortnite-kills [accountInfo]="accountInfo | async"></app-chart-fortnite-kills>
    </div>
    <div class="chart__container killsMinMatch__container">
        <app-chart-fortnite-kills-min-match [accountInfo]="accountInfo | async"></app-chart-fortnite-kills-min-match>
    </div>
    <div class="flex-bigScreens__container">
        <div class="chart__container kd__container">
            <app-chart-fortnite-kd [accountInfo]="accountInfo | async"></app-chart-fortnite-kd>
        </div>
        <div class="chart__container wins__container">
            <app-chart-fortnite-wins [accountInfo]="accountInfo | async"></app-chart-fortnite-wins>
        </div>
    </div>
</div>
