@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

/*------------------PROJECT MOBILE FIRST----------------*/
:root {
  --font-Montserrat: 'Montserrat', sans-serif;

  /*  COLOR DEFINITION */
  --details-color: hsl(36, 81%, 58%);
  --pink: hsl(325, 81%, 45%);
  --pink-gradient: hsla(309, 87%, 63%, 0.243);
  --white: hsl(0, 0%, 100%);
  --black: rgb(0, 3, 7);
  --error: hsl(0, 86%, 40%);
  --error-input-bg: rgb(238, 220, 220);

  /*  DARK BG COLOR THEME */
  --dark-top-bg: hsl(226, 18%, 14%);
  --dark-bg: hsl(231, 16%, 16%);
  --black-bg: hsla(240, 16%, 6%, 0.863);
  --dark-text1: hsl(0, 0%, 77%);
  --dark-text2: hsl(0, 0%, 61%);
  --dark-text3: hsl(0, 0%, 46%);
  --dark-text4: hsl(0, 0%, 89%);

  /* FORMS */
  --form-bg: hsl(205, 28%, 17%);
  --form-bg-blue: rgb(41, 44, 59);
  --form-input: rgba(50, 63, 84, 0.709);
  --form-borders: hsla(0, 10%, 90%, 0.258);
  --form-focused: hsl(36, 75%, 39%);
  --form-btn-bg: hsl(36, 64%, 54%);
  --form-btn-hover: hsl(36, 81%, 54%);
  --form-btn-transparent: rgb(39, 42, 56);
  --form-btn-transparent-hover: rgba(51, 54, 73, 0.534);

  /* STAT CARDS*/
  --dark-card: rgb(45, 49, 65);

  /* SUBMENU */
  --submenu-bg: hsl(226, 18%, 29%);
}

/* BREAKPOINTS DECLARATION
    --breakpoint-medium: 40em;
    --breakpoint-large: 71.875em;
    --breakpoint-xlarge: 87.5em;
    --breakpoint-down-small: 39.9475em;
    --breakpoint-down-large: 71.8125em;
    --breakpoint-down-xlarge: 87.4375em;
*/

html {
  font-size: 62.5%; /*1 rem = 10px*/
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-Montserrat);
  background-color: var(--dark-bg);
  color: var(--dark-text1);
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.container {
  max-width: 1520px;
  margin: 0 auto;
}

h1,
h2,
h3 {
  margin-top: 0;
  line-height: 1.1;
}

h1 {
  font-size: 24px;
  margin-bottom: 3px; 
}
@media (min-width: 71.875em) {
  h1 {
    font-size: 28px;
  }
}

h2 {
  font-size: 24px;
  margin-bottom: 24px;
}

a,
a:visited,
a:active {
  text-decoration: none;
}
