:root {
  /*  COLOR DEFINITION */
  --primary-color: rgb(194, 4, 4);
  --secondary-color: hsl(343, 94%, 31%);
  --details-color: hsl(36, 98%, 49%);
  --dark-primary-color: hsl(342, 94%, 19%);
  --dark-bg-details: hsl(332, 89%, 14%);
  --white: hsl(0, 0%, 100%);
  --black: rgb(0, 3, 7);

  /*  DARK BG COLOR THEME */
  --dark-top-bg: hsl(226, 18%, 14%);
  --dark-bg: hsl(231, 16%, 16%);
  --dark-card: hsl(228, 32%, 19%);
  --dark-card-hover: hsl(228, 25%, 27%);
  --dark-text1: hsl(0, 0%, 77%);
  --dark-text2: hsl(0, 0%, 61%);
  --dark-text3: hsl(0, 0%, 46%);
  --dark-text4: hsl(0, 0%, 89%);
  --dark-mobile-bar: hsl(237, 18%, 24%);

  /* FORMS */
  --form-bg: hsl(205, 28%, 17%);
  --form-bg-blue: hsl(220, 25%, 9%);
  --form-input: rgba(50, 63, 84, 0.709);
  --form-borders: hsla(0, 10%, 90%, 0.258);
  --form-focused: hsl(36, 75%, 39%);
  --form-btn-bg: hsl(36, 64%, 54%);
  --form-btn-hover: hsl(36, 81%, 54%);

  --font-Montserrat: 'Montserrat', sans-serif;
  --font-Jost: 'Jost', sans-serif;

  --error: hsl(0, 86%, 40%);
  --error-input-bg: rgb(238, 220, 220);

  /* SUBMENU */
  --submenu-bg: hsl(224, 18%, 30%);
}


  

/* BREAKPOINTS DECLARATION
    --breakpoint-medium: 40em;
    --breakpoint-large: 71.875em;
    --breakpoint-xlarge: 87.5em;
    --breakpoint-down-small: 39.9475em;
    --breakpoint-down-large: 71.8125em;
    --breakpoint-down-xlarge: 87.4375em;
*/

html {
  font-size: 62.5%; /*1 rem = 10px*/
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-Montserrat);
  background-color: var(--dark-bg);
  color: var(--dark-text2);
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.container {
  max-width: 1520px;
  margin: 0 auto;
}

h1,
h2,
h3 {
  margin-top: 0;
  line-height: 1.1;
}

h1 {
  font-size: 24px;
  margin-bottom: 3px; 
}
@media (min-width: 71.875em) {
  h1 {
    font-size: 28px;
  }
}

h2 {
  font-size: 24px;
  margin-bottom: 24px;
}

a,
a:visited,
a:active {
  text-decoration: none;
}
