<p>league-of-legends works!</p>
<<pre>
    {{ user$ | async | json }}
    {{ (user$ | async)?.uid }}
</pre>
>
<section class="form">
    <div class="container">
        <div class="container__form">
            <div>
                <h1 class="container__form--title">
                    Link your account to your V-Tracker's account
                </h1>
                <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div>
                        <label for="account" class="form__labelAccount">Your account</label>
                        <input 
                            type="text" 
                            name="account" 
                            id="account" 
                            class="form__inputAccount" 
                            placeholder="@MyAccount" 
                            formControlName="account" 
                            [ngClass]="{'invalid': hasError('account')}">
                        <!-- Show error message -->
                        <app-error-message [control]="form.get('account')!" />
                    </div>
                    <button type="submit" [disabled]="!form.valid" class="form__btnSubmit"> Link account </button>
                </form>
            </div>
        </div>
    </div>
</section>